%table
  %tr
    %th Name
    %th Memo
    %th Tags
    %th Account
    %th Balance
  -@presenter.each_transaction do |transaction|
    %tr
      %td= transaction.original_name
      %td= transaction.memo
      %td= transaction.tags.inspect
      %td= transaction.account_name
      %td= transaction.formatted_balance

